    <!-- amCharts javascript code -->
    <script type="text/javascript">
			var chart = AmCharts.makeChart("chartdiv_${chart_id}",
				{
					"type": "serial",
					"pathToImages": "images/amcharts/",
					"categoryField": "${chart_data_key}",
					"dataDateFormat": "JJ:NN:SS.fff",
					"plotAreaBorderColor": "#BCB3B3",
					"plotAreaFillAlphas": 0.11,
					"plotAreaFillColors": "#A9D1F6",
					"borderColor": "#BCB3B3",
					"color": "#1D4183",
					"fontSize": 10,
					"categoryAxis": {
						"minPeriod": "fff",
						"parseDates": true,
						"title": "Time"
					},
					"chartCursor": {
						"categoryBalloonDateFormat": "JJ:NN:SS.fff"
					},
					"chartScrollbar": {
						"backgroundAlpha": 0.88,
						"backgroundColor": "#FFFFFF",
						"dragIconHeight": 45,
						"dragIconWidth": 10,
						"graphFillColor": "#FFFFFF",
						"graphLineColor": "#FFFFFF",
						"selectedBackgroundAlpha": 0.34,
						"selectedBackgroundColor": "#A9D1F6",
						"selectedGraphFillColor": "#FFFFFF",
						"selectedGraphLineColor": "#A9D1F6"
					},
					"trendLines": [],
					"graphs": [
						{
							"bullet": "round",
							"bulletSize": 4,
							"id": "AmGraph-1",
							"title": "${chart_dataset_name1}",
							"valueField": "${chart_dataset_name1}"
						},
						{
							"bullet": "square",
							"bulletOffset": -3,
							"bulletSize": 4,
							"id": "AmGraph-2",
							"title": "${chart_dataset_name2}",
							"valueField": "${chart_dataset_name2}"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "${chart_y_axis_name}"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"maxColumns": -10,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "${chart_title}"
						}
					],
					"dataProvider": ${chart_data1}
				}
			);
			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                  e.target // activated tab
                  e.relatedTarget // previous tab
                  chart.invalidateSize();
                });

		</script>

    <div id="chartdiv_${chart_id}" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
